
@{
    ViewBag.Title = "QR";
    Layout = "~/Views/Shared/_Layout - admin_general.cshtml";
}

<h2>QR</h2>
<img src="@Url.Action("Generar_QR", "Administrador_general")" alt="Código QR para Asistencia" />